<h3>Users</h3>
<p>
  users <%= @users_result %>
</p>

<h3>Volunteers</h3>
<p>
  volunteer count: <%= @volunteer_count %>
</p>
<p>
  volunteers: <%= @volunteers_result %>
</p>
<p>
  volunteers pending: <%= @volunteers_pending %>
</p>

<h3>Organizations</h3>
<p>
  organizations: <%= @organizations_result %>
</p>
<p>
  count: <%= @organizations_count %>
</p>

<h3>Projects</h3>
<p>
  organizations: <%= @projects_result %>
</p>
<p>
  approved: <%= @projects_approved %>
</p>
<p>
  pending: <%= @projects_pending%>
</p>
<p>
  count: <%= @funded_count %>
</p>

<h3>Gifts</h3>
<p>
  gifts: <%= @gifts_result %>
</p>
<p>
  count of donations: <%= @donations_count %>
</p>
